.header {
  text-align: center;
}

.fila {
  border: 5px solid green;
  height: 370px;
  margin: 10px;
}

.columna {
  align-content: center;
  text-align: center;
  float: left;
  border: 3px solid red;
  padding-top: 5px;
  margin: 5px;
  width: 20%;
  height: 350px;
}

.columna:nth-child(odd) {
  background-color: yellow;
}

.columna:nth-child(even) {
  background-color: blue;
}

.foto {
  height: 200px;
  max-width: 90%;
}

.userid {
  visibility: hidden;
}
